.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
} 
.water-background{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
}
.game-heading{
 padding: 5px 20px;
 border-radius: 5px;
}
