:root {
    --water-bg: rgba(255, 255, 255, 0.2); /* Background color */
    --blur-effect: blur(10px); /* Blur effect */
    --text-color: #fff; /* Text color */
}

.square {
    width: 100px;
    height: 100px;
    background: var(--water-bg);
    backdrop-filter: var(--blur-effect);
    color: var(--text-color);
    border-radius: 5px;
}
.square:hover {
    background: rgba(0, 255, 255, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.7);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.not-allowed{
    cursor: not-allowed;
}   